<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register_student.css') }}">
</head>
<body class="smart-dashboard-body">
    <h2>Smart-A</h2>
    <div class="smart-dashboard-container">
        <aside class="smart-dashboard-sidebar">
            <div class="smart-dashboard-logo">
                <div class="smart-dashboard-check-in-btn" id="registerButton">
                    <img src="{{ url_for('static', filename='img/checkin.png') }}" alt="Check-In Icon">
                    <span>Register</span>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('dash') }}" class="smart-dashboard-active">Dashboard</a></li>
                    <li><a href="#">Students</a></li>
                </ul>
            </nav>
        </aside>
        <main class="smart-dashboard-main">
            <header class="smart-dashboard-header">
                <h1>Dashboard</h1>
                <div class="smart-dashboard-user-info">
                    <span>Hi, {{ user_name }}!</span>
                    <button class="smart-dashboard-notification-btn">🔔</button>
                </div>
            </header>
            
            <section class="smart-dashboard-attendance-overview">
                <h2>Attendance Overview</h2>
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Student ID</th>
                            <th>Name</th>
                            <th>Phone Number</th>
                            <th>Department</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in attendance_records %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ record.student_id }}</td>
                            <td>{{ record.name }}</td>
                            <td>{{ record.phone_number }}</td>
                            <td>{{ record.department }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>

<script>
    document.getElementById('registerButton').addEventListener('click', function() {
        window.location.href = "{{ url_for('register_student_route') }}";
    });
</script>
