<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap-group">
          <div class="rectangle"></div>
          <div class="text-wrapper">Dashboard</div>
          <div class="text-wrapper-2">Attendance overview</div>
          <div class="rectangle-2"></div>
          <div class="text-wrapper-3">Attendance</div>
          <div class="text-wrapper-4">07.45</div>
          <div class="text-wrapper-5">08.00-16.00</div>
          <p class="p">22 July, 2024 - Monday</p>
          <p class="check-in-and-get">Check in and get started on your succesful<br />day</p>
          <div class="ellipse"></div>
          <div class="ellipse-2"></div>
          <div class="text-wrapper-6">CHECK IN</div>
          <div class="rectangle-3"></div>
          <div class="text-wrapper-7">Attendance</div>
          <div class="text-wrapper-8">Summary</div>
          <div class="rectangle-4"></div>
          <div class="rectangle-5"></div>
          <div class="rectangle-6"></div>
          <div class="rectangle-7"></div>
          <div class="text-wrapper-9">Early Leaves</div>
          <div class="text-wrapper-10">Late in</div>
          <div class="text-wrapper-11">Leaves</div>
          <div class="text-wrapper-12">Absents</div>
          <div class="text-wrapper-13">1</div>
          <div class="text-wrapper-14">1</div>
          <div class="text-wrapper-15">1</div>
          <div class="text-wrapper-16">1</div>
          <img class="back" src="img/back.png" />
          <div class="rectangle-8"></div>
          <div class="text-wrapper-17">ID</div>
          <div class="text-wrapper-18">Employee</div>
          <div class="text-wrapper-19">Department</div>
          <div class="text-wrapper-20">Role</div>
          <div class="text-wrapper-21">date</div>
          <div class="text-wrapper-22">check in</div>
          <div class="text-wrapper-23">check out</div>
          <img class="vector" src="img/vector-20.svg" />
          <img class="img" src="img/vector-21.svg" />
          <img class="vector-2" src="img/vector-22.svg" />
          <img class="vector-3" src="img/vector-23.svg" />
          <img class="vector-4" src="img/vector-24.svg" />
          <img class="vector-5" src="img/vector-25.svg" />
          <img class="vector-6" src="img/vector-26.svg" />
          <div class="menu"></div>
          <div class="high-light"></div>
          <img class="vector-7" src="img/vector-2.svg" />
          <img class="dash-board" src="img/dash-board.png" />
          <img class="menu-2" src="img/menu.png" />
          <img class="attendance-recap" src="img/attendance-recap.png" />
          <img class="students" src="img/students.png" />
          <img class="lecturer" src="img/lecturer.png" />
          <img class="vector-8" src="img/vector-19.svg" />
          <img class="teacher" src="img/teacher-2.png" />
          <img class="document" src="img/document-2.png" />
          <img class="reading" src="img/reading-3.png" />
          <div class="text-wrapper-24">Smart-A</div>
          <img class="vector-9" src="img/image.svg" />
          <div class="group">
            <div class="text-wrapper-25">Hi, Eza!</div>
            <img class="vector-10" src="img/vector.svg" />
          </div>
          <div class="rectangle-9"></div>
          <div class="rectangle-10"></div>
          <div class="text-wrapper-26">CHECK IN</div>
          <div class="text-wrapper-27">Face Recognition</div>
          <div class="text-wrapper-28">Finger Print</div>
          <img class="icon-park-face" src="img/icon-park-face-recognition.svg" />
          <img class="ion-finger-print" src="img/ion-finger-print.svg" />
          <div class="text-wrapper-29">Choose methode</div>
          <img class="iconoir-cancel" src="img/iconoir-cancel.svg" />
        </div>
        <img class="vector-11" src="img/vector-27.svg" />
      </div>
    </div>
  </body>
</html>
