<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="desktop">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="smart-attendance">Smart Attendance<br />Website</div>
          <div class="text-wrapper">Welcome to</div>
          <div class="div">See How</div>
          <p class="lorem-ipsum-sakwud">
            Lorem ipsum sakwud asdhasd aksjhd kasd<br />kausda kaksjdh skahsd kasdhkedasud efka<br />kasuhd sakjdad
          </p>
          <div class="flexcontainer">
            <p class="text">
              <span class="span">ios &amp; android app to help<br /></span>
            </p>
            <p class="text">
              <span class="span">you check in &amp; check out<br /></span>
            </p>
            <p class="text"><span class="span">everyday</span></p>
          </div>
          <div class="flexcontainer-2">
            <p class="text">
              <span class="span">Your complete attendance<br /></span>
            </p>
            <p class="text"><span class="span">history at your finger tips</span></p>
          </div>
          <div class="flexcontainer-3">
            <p class="text">
              <span class="span">check your students or lecturer<br /></span>
            </p>
            <p class="text"><span class="span">check in and check out from anywhere</span></p>
          </div>
          <div class="flexcontainer-4">
            <p class="text">
              <span class="span">Apply, approve or take leaves. <br /></span>
            </p>
            <p class="text">
              <span class="span">maintain records and notify<br /></span>
            </p>
            <p class="text"><span class="span">other on your absence</span></p>
          </div>
          <div class="check-in-out">Check In &amp; Out</div>
          <div class="text-wrapper-2">Transparent Attendance</div>
          <div class="text-wrapper-3">Management Attendance</div>
          <div class="text-wrapper-4">Leave Management</div>
          <p class="p">Many ways to use Smarttandance</p>
          <div class="hassle-free-solution">Free Solution<br />For Everyone</div>
          <div class="text-wrapper-5">Features</div>
          <a href="{{ url_for('dash') }}" class="text-wrapper-6">Sign In</a>
          <p class="text-wrapper-8">Don’t forget to submit your attendance on time!</p>
          <div class="overlap">
            <img class="rectangle" src="{{ url_for('static', filename='img/college.png') }}" />
            <div class="text-wrapper-9">For College</div>
          </div>
          <div class="overlap-2">
            <img class="rectangle" src="{{ url_for('static', filename='img/school.jpeg') }}" />
            <div class="text-wrapper-9">For School</div>
          </div>
          <div class="overlap-3">
            <img class="rectangle" src="{{ url_for('static', filename='img/office.jpeg') }}" />
            <div class="text-wrapper-10">For office</div>
          </div>
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
          <div class="rectangle-5"></div>
          <div class="school-logos">
            <div class="logos">
              <img src="{{ url_for('static', filename='img/knu.png') }}" alt="KNU Logo" class="school-logo1">
              <img src="{{ url_for('static', filename='img/polije.png') }}" alt="POLIJE Logo" class="school-logo2">
            </div>
            <span>KNU x POLIJE</span>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-content">
        <p>&copy; 2024 Smart Attendance. All Rights Reserved.</p>
        <p>This project are made by knu x polije students</p>
        <p>Contact us: ezaanom33@gmail.com</p>
      </div>
    </footer>
  </body>
</html>
