<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="static\register_face.css" />
  </head>
  <body>
    <div class="container">
      <h2>Register</h2>
      <p>Make sure your face on rectangle</p>
      <img
        src="https://img.icons8.com/ios-filled/100/000000/user-male-circle.png"
        alt="Face Icon"
      />
      <div class="preview-box">Preview Area</div>
      <button type="submit">Next</button>
    </div>
  </body>
</html>