<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Fingerprint</title>
    <link rel="stylesheet" href="static/register_finger.css">
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <p>Place your finger on the finger scanner.</p>
        <div class="fingerprint-icon">
            <img src="static/img/security.jpg">
        </div>
        <p class="instructions">
            “Press and lift after vibration. Press the screen and lift your finger after you feel the vibration. Repeat several times.”
        </p>
        <!-- Menampilkan student_id untuk referensi atau debug -->
        <p id="studentIdDisplay"></p>
    </div>

    <script type="text/javascript">
        // Dapatkan student_id dari URL
        const urlParams = new URLSearchParams(window.location.search);
        const studentId = urlParams.get('student_id');

        // Menampilkan student_id di halaman untuk referensi (jika diperlukan)
        if (studentId) {
            document.getElementById("studentIdDisplay").innerText = `Student ID: ${studentId}`;
            console.log("Student ID is present:", studentId);
        } else {
            console.error("No student_id found in URL");
        }
    </script>
    
</body>
</html>
